APPLICATION_HOST=localhost:<%= port %>
PORT=<%= port %>
EXECJS_RUNTIME=Node
RACK_ENV=development
RACK_MINI_PROFILER=0
SECRET_KEY_BASE=development_secret
SMTP_ADDRESS=smtp.example.com
SMTP_DOMAIN=example.com
SMTP_PASSWORD=password
SMTP_USERNAME=username
